body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

.navigation {
  line-height: 26px;
}

.navigation__list {
  list-style: none;
}

.navigation__link {
  color: #000000;
  font-weight: 700;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #81b3d2;
}

.navigation__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.features {
  background-color: #81b3d2;
}

.features__text {
  line-height: 26px;
  color: #333333;
}

.features__item-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.features__list,
.features-services {
  list-style: none;
}

.features__item--white {
  color: #ffffff;
}

.features-services {
  color: #000000;
}

.features-services__title {
  font-size: 21px;
  font-weight: 700;
}

.features-services__text {
  color: #333333;
}

.search-hotel__quetion {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-hotel__text {
  line-height: 24px;
  color: #333333;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;

  text-transform: uppercase;
  vertical-align: center;
  text-align: center;

  border: none;
}

.search-hotel__button {
  background-color: #766357;
}

.search-hotel__button:hover,
.search-hotel__button:focus {
  background-color: #604e43;
}

.search-hotel__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-hotel__popup-form {
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.search-hotel-input {
  font-weight: 700;
  font: inherit;

  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

::-moz-placeholder {
  opacity: 1;
}

.search-hotel-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
}
.search-hotel-input::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}
.search-hotel-input:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}
.search-hotel-input:-moz-placeholder { /* Firefox 18- */
  color: #000000;
}

.search-hotel-input:hover {
  background-color: #ebebeb;
}

.search-hotel-input:focus {
  background-color: #ffffff;
}

.search-button__search {
  background-color: #81b3d2;
}

.search-button__search:hover,
.search-button__search:focus {
  background-color: #669ec0;
}

.search-button__search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map {
  background-color: #f2f1ef;
}




/* ВТОРАЯ СТРАНИЦА*/

.navigation__link--current {
  color: #766357;
}

.sorting__result-value,
.catalog__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting__list,
.sorting__direction-list,
.catalog__list {
  list-style: none;
}

.sorting__title,
.sorting__list,
.sorting__direction-list {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting__link,
.sorting__direction-link {
  color: rgba(0, 0, 0, 0.3)
}

.sorting__link {
  border-bottom: 1px dotted #81b3d2;
}

.sorting__link:hover,
.sorting__link:focus,
.sorting__direction-link:hover,
.sorting__direction-link:focus {
  color: #81b3d2;
}

.sorting__link:active,
.sorting__direction-link:active {
  color: #000000;
  border: none;
}

.sorting__link--current,
.sorting__direction-link--down--current {
  color: #81b3d2;
}


.catalog__title:hover {
  color:#81b3d2;
}

.catalog__title:active {
  color:rgba(0, 0, 0, 0.3);
}

.catalog__text,
.catalog__price {
  color: #333333;
}

.catalog__more-details,
.catalog__booking {
  color: #ffffff;
}

.catalog__more-details {
  background-color: #81b3d2;
}

.catalog__more-details:hover,
.catalog__more-details:focus {
  background-color: #669ec0;
}

.catalog__more-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.catalog__booking {
  background-color: #766357;
}

.catalog__booking:hover,
.catalog__booking:focus {
  background-color: #604e43;
}

.catalog__booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.catalog__rating-text {
  color: #666666;
  background-color: #f2f2f2;
}

.filter-hotels {
  color: #f2f2f2;
  background-color: #5496bd;
}

.filter-hotels__list {
  list-style: none;
}

.filter-hotels__fieldset-type,
.filter-hotels__fieldset-infrastructure,
.filter-hotels__fieldset-price {
  font-size: 16px;
  font-weight: bold;
}

.filter-hotels__range-filter {
  border: 2px solid #f2f2f2;
}

.filter-hotels__button-show {

}
::-moz-placeholder {
  opacity: 1;
}

.filter-hotels__price-value {
  background-color: #5496bd;
}

.filter-hotels__price-value::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}
.filter-hotels__price-value::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}
.filter-hotels__price-value:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}
.filter-hotels__price-value:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}

.filter-hotels__button-show {
  font: inherit;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #5496bd;

  border: 2px solid #f2f2f2;
}

.filter-hotels__button-show:hover,
.filter-hotels__button-show:focus {
  color: #000000;
  background-color: #ffffff;
}

.footer__hushtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer__item {
  list-style: none;
}
.footer__link {
  background-color: #81b3d2;
}

.footer__link:hover {
  background-color: #669ec0;
}

.footer__link:active {
  background-color: #5496bd;
}

.footer__made {
  line-height: 26px;
}
