
html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  box-shadow: 0px 5px 15px 10px rgba(0, 1, 1, 0.2);
  outline: 1px solid red;
}

a {
  text-decoration: none;
}

.header {
  position: relative;
}

.navigation {
  line-height: 26px;
  position: absolute;
  background-color: #ffffff;
  width: 100%;
}

.navigation__logo-image {
  position: absolute;
  top: 0;
  left: 529px;
}

.navigation__list {
  display: flex;
  list-style: none;

  padding: 0;
  margin: 0;
}

.navigation__link {
 display: inline-block;
 padding-top: 22px;
}

.navigation__item {
  height: 56px;
  width: 239px;
  text-align: center;
}

.navigation__item:nth-child(3) {
  margin-left: auto;
}

.navigation__link {
  color: #000000;
  font-weight: 700;
}

.navigation__link:hover,
.navigation__link:focus {
  color: #81b3d2;
}

.navigation__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-sedona {
  display: flex;
  outline: 3px solid blueviolet;
}

.welcome-baner-image {
  padding: 0;
  margin: 0;
}

.features {
  background-color: #81b3d2;
  margin: 0 auto;
  width: 1200px;
  outline: 3px solid green;
}

.features__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.welcome-baner-text {
  position: absolute;
  margin-top: 132px;
  margin-left: 370px;
}

.features__wrapper {
  display: inline-block;
  outline: 1px solid rgb(146, 34, 118);
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.features__item {
  background: rgb(250, 144, 45);
  flex-basis: 1200px;
  flex-grow: 1;
  min-height: 100px;
  outline: 2px solid  #503e33;
}

.features__item:nth-child(2) {
  text-align: right;
}
.features__item:nth-child(3),
.features__item:nth-child(4),
.features__item:nth-child(5){
  flex-basis: 140px;
}

.features-services {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: palevioletred;
}

.features-services__item {
  flex-grow: 1;
  list-style: none;
  outline: 2px solid white;
  min-height: 100px;
}

.features__text {
  line-height: 26px;
  color: #333333;
  text-align: center;
}

.features__item-number,
.features__item-text {
  color: #333333;
  text-align: center;
}

.features__item-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.features__list,
.features-services {
  list-style: none;
}

.features__item-title--white,
.features__item-number--white,
.features__item-text--white {
  color: #ffffff;
}

.features-services {
  color: #000000;
}

.features-services__title {
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.features-services__text {
  color: #333333;
  text-align: center;
}

.search-hotel__wrapper--text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 2px solid violet;
  width: 434px;
  margin: 0 auto;
}

.search-hotel__wrapper--form {
  display: flex;
  flex-direction: column;
  outline: 2px solid rgb(119, 35, 228);
  width: 568px;
  margin: 0 auto;
}


.search-hotel__popup-form {
  display: flex;
  flex-direction: column;
}

.search-hotel__quetion {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.search-hotel__text {
  line-height: 24px;
  color: #333333;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;

  text-transform: uppercase;
  vertical-align: center;
  text-align: center;

  border: none;
}

.search-hotel__button {
  background-color: #766357;
}

.search-hotel__button:hover,
.search-hotel__button:focus {
  background-color: #604e43;
}

.search-hotel__button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-hotel__popup-form {
  line-height: 26px;
  color: #000000;
  font-weight: 700;
}

.search-hotel-input {
  font-weight: 700;
  font: inherit;

  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

::-moz-placeholder {
  opacity: 1;
}

.search-hotel-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000000;
}
.search-hotel-input::-moz-placeholder { /* Firefox 19+ */
  color: #000000;
}
.search-hotel-input:-ms-input-placeholder { /* IE 10+ */
  color: #000000;
}
.search-hotel-input:-moz-placeholder { /* Firefox 18- */
  color: #000000;
}

.search-hotel-input:hover {
  background-color: #ebebeb;
}

.search-hotel-input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.search-button__search {
  background-color: #81b3d2;
}

.search-button__search:hover,
.search-button__search:focus {
  background-color: #669ec0;
}

.search-button__search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.map {
  background-color: #f2f1ef;
}




/* ВТОРАЯ СТРАНИЦА*/

.navigation__link--current {
  color: #766357;
}


/*ФОРМА ФИЛЬТРОВ*/

.filter-hotels__form {
  display: flex;
  flex-direction: row;
  padding-top: 56px;
  min-height: 100px;
  outline: 2px solid rgb(245, 83, 8);
}

.filter-hotels {
  color: #f2f2f2;
  background-color: #5496bd;
}

.filter-hotels__list {
  font-weight: normal;
  list-style: none;
  padding: 0;
  margin: 0;
}

.filter-hotels__fieldset-price {
  margin-left: auto;
}

.filter-hotels__fieldset-type,
.filter-hotels__fieldset-infrastructure,
.filter-hotels__fieldset-price {
  font-size: 16px;
  font-weight: bold;
}

.filter-hotels__range-filter {
  font-weight: normal;
  border: 2px solid #f2f2f2;
}

::-moz-placeholder {
  opacity: 1;
}

.filter-hotels__price-value {
  background-color: #5496bd;
}

.filter-hotels__price-value::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}
.filter-hotels__price-value::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}
.filter-hotels__price-value:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}
.filter-hotels__price-value:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}

.filter-hotels__button-show {
  font: inherit;
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #5496bd;

  border: 2px solid #f2f2f2;
}

.filter-hotels__button-show:hover,
.filter-hotels__button-show:focus {
  color: #000000;
  background-color: #ffffff;
}


/*СОРТИРОВКА*/

.sorting {
  display: flex;
  align-items: center;
  outline: 2px solid blue;
}

.sorting__list,
.sorting__direction-list {
  display: flex;
}

.sorting__direction-list {
  margin-left: auto;
}
.sorting__result-value {
  padding-left: 76px;
}

.sorting__title {
  padding-left: 22px;
}

.sorting__result-value,
.catalog__title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.sorting__list,
.sorting__direction-list,
.catalog__list {
  list-style: none;
}

.sorting__title,
.sorting__list,
.sorting__direction-list {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
}

.sorting__link,
.sorting__direction-link {
  color: rgba(0, 0, 0, 0.3)
}

.sorting__link {
  border-bottom: 1px dotted #81b3d2;
}

.sorting__link:hover,
.sorting__link:focus,
.sorting__direction-link:hover,
.sorting__direction-link:focus {
  color: #81b3d2;
}

.sorting__link:active,
.sorting__direction-link:active {
  color: #000000;
  border: none;
}

.sorting__link--current,
.sorting__direction-link--down--current {
  color: #81b3d2;
}



/*РЕЗУЛЬТАТ СОРТИРОВКИ*/
.catalog__list {
  margin: 0;
  padding: 0;
  outline: 2px solid yellow;
}

.catalog__item {
  display: flex;
  align-items: center;
  flex-basis: 1200px;
  padding-left: 72px;
  outline: 1px solid goldenrod;
}

.catalog__item-container {
  display: flex;
}

.catalog__item-wrapper {
  padding-left: 30px;
}

.catalog__rating {
  margin-left: auto;
}

.catalog__title:hover {
  color:#81b3d2;
}

.catalog__title:active {
  color:rgba(0, 0, 0, 0.3);
}

.catalog__text,
.catalog__price {
  color: #333333;
}

.catalog__more-details,
.catalog__booking {
  color: #ffffff;
}

.catalog__more-details {
  background-color: #81b3d2;
}

.catalog__more-details:hover,
.catalog__more-details:focus {
  background-color: #669ec0;
}

.catalog__more-details:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.catalog__booking {
  background-color: #766357;
}

.catalog__booking:hover,
.catalog__booking:focus {
  background-color: #604e43;
}

.catalog__booking:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.catalog__rating-text {
  color: #666666;
  background-color: #f2f2f2;
}





/* CТИЛИ FOOTER*/
.footer {
  display: flex;
  outline: 2px solid rgb(90, 39, 47);
  width: 1200px;
}

.footer__hushtag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  outline: 2px solid rgb(22, 102, 64);
  margin-right: auto;
}

.footer__wrapper-made {
  margin-left: auto;
}

.footer__list {
  display: flex;
  margin: 0;
  padding: 0;
  outline: 2px solid rgb(22, 102, 64);
}

.footer__made {
  line-height: 26px;
  display: inline-block;
  vertical-align: middle;
  outline: 2px solid rgb(22, 102, 64);
}

.footer__made-link {
  display: inline-block;
  vertical-align: middle;
}

.footer__item {
  list-style: none;
}
.footer__link {
  background-color: #81b3d2;
}

.footer__link:hover {
  background-color: #669ec0;
}

.footer__link:active {
  background-color: #5496bd;
}
